body {

    color: rgb(122, 37, 37);
    text-align: center;
  }
  .wrapper {
    width: fit-content;
    margin: auto;
  }
  .reset-btn,
  .notif-btn {
    cursor: pointer;
  }
  .reset-btn {
    margin-left: auto;
  }
  .alpha {
    width: 2rem;
    height: 2rem;
    background: #d3b680;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
  }
  .alpha:hover {
    background-color: #b9939e;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: darkgray;
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  
  .notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b3a6a8;
    width: 20rem;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }
